<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-server-edit (serverAdded)="onServerAdded($event)" (blueprintAdded)="onBlueprintAdded($event)"/>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <div
        class="panel panel-default"
        *ngFor="let element of serverElements">
        <app-server *ngIf="element.type === 'server'" [server]="element"/>
        <app-blueprint *ngIf="element.type === 'blueprint'" [blueprint]="element"/>
      </div>
    </div>
  </div>
</div>
